form {
  margin: 0 auto;
  width: fit-content;
}

h2 {
  color: red;
}

h5, h6 {
  text-align: center;
}

form label {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
  width: 250px;
  margin-bottom: 8px;
  padding: 4px 6px;
  box-sizing: border-box;
  vertical-align: top;
}

form textarea {
  resize: vertical;
}

.donation label, .contact-methods label {
  display: inline-block;
  margin-right: 15px;
  width: auto;
}
