body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-box {
    width: 60%;
    background-color: #ffffff;
    margin: auto;            
    padding: 20px;             
    border: 2px solid #cccccc;  
    border-radius: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 50%;         
}

.student-name {
    text-align: center;
    font-size: 1.8em;
}
.bio {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.6em;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ddd;
}
