nav {
    background-color: #004080;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

nav a {
    display: inline-block;
    color: white;
    margin: 0 15px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.1em;
    transition: 0.3s ease;
}

nav a:hover {
    background-color: white;
    color: #004080;
    border-radius: 5px;
}
